body {
    margin: 0;
    overflow: hidden;
    display: flex;
}

#map {
    flex: 1;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    width: 30vw;
    height: 100vh;
    background-color: pink;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    z-index: 9999;
    transition: right 0.5s ease;
    flex-shrink: 0;
    right: -30vw;
    top: 0;
    overflow-y: auto; /* 세로 스크롤을 허용하도록 추가 */
    max-height: 100vh; /* 최대 높이 지정하여 전체 화면 크기를 초과하지 않도록 설정 */
}

#flag,
#nationinfo,
#chart {
    padding: 20px;
    border: 1px solid black;
    margin: 50px auto;
}

#chart {
    /* 기존 스타일 유지 */
    max-height: calc(100vh - 140px); /* 적절한 높이로 조절 (국가 정보, 차트 버튼 등의 높이를 고려하여 조절) */
    overflow-y: auto; /* 세로 스크롤을 허용하도록 추가 */
}

#Chartcnv {
    margin: auto;
    width: 100%;
    height: 100%;
}

.slidecontainer {
    position: absolute;
    right: 20px;
    top: 0px;
    margin:20px auto;
    z-index: 1000;
}

.slider {
    -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 100%; /* 슬라이더 길이 */
    height: 15px; /* 슬라이더 두께 */
    border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
    background: #ccc; /* 슬라이더 색상 */
    outline: none; /* 슬라이더 테두리 없이 */
}

/* 슬라이더 핸들(클릭해서 드래그하는 부분) 커스텀 
(Chrome, Opera, Safari, Edge 브라우저를 위해서는 -webkit-을,
Firefox 브라우저를 위해서는 -moz- 를 사용하세요 */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 25px; /* 슬라이더 핸들 길이 */
    height: 25px; /* 슬라이더 핸들 높이 */
    border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
    background: #00f; /* 슬라이더 핸들 색상 */
    cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}

.slider::-moz-range-thumb {
    width: 25px; /* 슬라이더 핸들 길이 */
    height: 25px; /* 슬라이더 핸들 높이 */
    border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
    background: #00f; /* 슬라이더 핸들 색상 */
    cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}

.flagimg {
    margin: 50px auto;
    width: 100px;
    height: 100px;
}


@media only screen and (max-width: 768px) {
    #sidebar {
        width: 100%;
        right: -100%;
    }
}